<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>118807203865-sf4e8et2je06ctnjnu15kpvmvbavt1ld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118807203865-sf4e8et2je06ctnjnu15kpvmvbavt1ld</string>
	<key>API_KEY</key>
	<string>AIzaSyCwP5KAa9kyU6udM59yJWqDgBeHeGCKOEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>118807203865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.oo.flexspace</string>
	<key>PROJECT_ID</key>
	<string>flexspace-bae45</string>
	<key>STORAGE_BUCKET</key>
	<string>flexspace-bae45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:118807203865:ios:e2d5fb7d8e9de830</string>
	<key>DATABASE_URL</key>
	<string>https://flexspace-bae45.firebaseio.com</string>
</dict>
</plist>